body{

background-color: #CFC4C4;
    

}
.headers{
    background-image: url(img/first.jpg);
        background-size: cover;
            text-align: center;
            padding: 55px;
                background-position: center 50%;
}

.green {
    width: 300px;
    padding: 22px;
    padding-top: 55px;
    max-width: 50%;
box-shadow: -28px 3px 20px rgba(15, 15, 15, 0.2);
}
.greens{
color: white;
font-family: 'Julius Sans One', sans-serif;
margin-left: 333px;
margin-top: -299px;
font-size: 22px;
padding: 15px
}


h1{
font-family: 'Julius Sans One', sans-serif;
color: white;
}
h2{
padding-top: 66px;
font-family: 'Julius Sans One', sans-serif;
    color: white;
    text-align: center;
    font-size: 44px;

}
.video{

   border-radius: 15px;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 10px;
    max-width: 100%;
    
font-family: 'Julius Sans One', sans-serif;
    color: white;
    font-size: 10px;
}
.red{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.ham{
    display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr 1fr;
       
}
button{
    margin: 10px;
    padding: 7px;
    border: 5px ;
    border-radius: 5px ;
    background-color: rgb(124, 50, 120);
    color: white;
}

button:hover {
background: linear-gradient(113.1deg, rgb(254, 140, 48) 14%, rgb(253, 75, 101) 80.5%, rgb(255, 53, 109) 100.6%);

}
.photo{
display: grid;
    grid-gap: 15px;
    grid-template-columns: 400px 200px 300px;
margin-top: 88px;
max-width: 100%;
justify-content: center;


}

.photos{

    border-radius: 15px;
       
        margin: 0 auto;
        padding: 10px;
        max-width: 100%;
}

.max{
text-decoration: none;
    background-size: cover;
        text-align: center;
        padding: 55px;
        background-position: center 50%;
    
    margin-top: 44px;
    background-image: url(img/palm.jpg);
  
}
h3{
    font-family: 'Julius Sans One', sans-serif;
        color: rgb(255, 255, 255);
        font-size: 22px;
        padding: 15px;
        text-decoration: none;
        margin-right: -555px;
        display: grid;
            grid-gap: 15px;
            grid-template-columns: 1fr  ;
}
.mind h3{
margin-left: 77px;
margin-top: -33px;


}
.rye h4{
    font-family: 'Julius Sans One', sans-serif;
       
        font-size: 16px;
       padding: 10px;
        text-decoration: none ;
        color: rgb(255, 255, 255);
        margin-left: 555px;
        max-width: 50%;
        margin-bottom: 22px;
        padding-bottom: 33px;
}

.ryes{

  
display: grid;
    grid-gap: 15px;
   margin-right: 599px;
   margin-top: -222px;
   

}

.ryes h4{
    font-family: 'Julius Sans One', sans-serif;
        color: rgb(255, 255, 255);
        font-size: 20px;
       margin-top: -33px;
        text-decoration: none;
     
}
.ryes h3{
margin-right: 22px;
margin-top: -77px;
}