body{

background-color: #CFC4C4;
    

}
.headers{
    background-image: url(img/first.jpg);
        background-size: cover;
            text-align: center;
            padding: 55px;
                background-position: center 50%;
}

.green {
    width: 300px;
    padding: 22px;
    padding-top: 55px;
    max-width: 50%;
box-shadow: -28px 3px 20px rgba(15, 15, 15, 0.2);
}
.greens{
color: white;
font-family: 'Julius Sans One', sans-serif;
margin-left: 333px;
margin-top: -299px;
font-size: 22px;
padding: 15px
}


h1{
font-family: 'Julius Sans One', sans-serif;
color: white;
}
h2{
padding-top: 66px;
font-family: 'Julius Sans One', sans-serif;
    color: white;
    text-align: center;
    font-size: 44px;

}
.video{

   border-radius: 15px;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 10px;
    max-width: 100%;
    
font-family: 'Julius Sans One', sans-serif;
    color: white;
    font-size: 10px;
}
.red{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.ham{
    display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: aqua;
}